.group_page {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.group_page .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.group_page .title {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
}

.group_page .username {
    align-self: right;
    margin-right: 50px;
    font-style: italic;
}

.group_page .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    align-self: center;
    width: 50%;
}

.group_page .transaction {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}

.group_page .transaction .name {
    font-size: large;
    font-weight: bold;
}

.group_page .new_transaction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: right;
}

.group_page .new_transaction div{
    margin: 5px
}

.group_page .button {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    font-size: normal;
}

.group_page .button:hover {
    background-color: gray;
}